.transaction-list-item {
  list-style-type: none;
  display: flex;
  width: 100%;
  min-height: 45px;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: white;
  padding: 6px 12px;
  border-bottom: 1px solid gray;
  &:nth-last-of-type() {
    border-bottom: 0px;
  }
  &__left-side {
    display: flex;
    gap: 12px;
  }
  &__right-side {
    align-items: center;
    display: flex;
    gap: 12px;
  }
  &__date {
    min-width: 80px;
  }
  &__amount {
    min-width: 70px;
    text-align: right;
  }
  &__delete {
    min-width: 40px;
  }
}
